body {
    background-size: 600px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.articleBody {
    height: 200px;
    font-size: 20px;
    overflow-y: scroll;
    line-height: 150%;
}